#info-panel {
  margin-top: 40px;
  font-size: 34px;

  a {
    font-size: 24px;
  }

  .tab-content {
    font-size: 16px;
  }

  ul {
    &.nav.nav-tabs {
      border: 0;
    }

    li {

      margin: 0 10px;

      &:hover > a, &.active > a {
        opacity: 0.7;
      }

      &#attractive > a {
        background-color: #b90b0b;
        color: $white;

      }

      &#desperate > a {
        background-color: #86642f;
        color: $white;
      }

      a {
        outline: none;
        padding: 15px;
        border: 1px solid $black;
        border-radius: 5px;
      }
    }
  }

  div#desperate-info, div#attractive-info {
    margin: 20px;
    font-size: 20px;

    button.btn {
      width: 50%;
      margin: auto;
      font-size: 20px;
      background-color: $light_blue;
      color: $dark_blue;
      background-image: none;
      border: $black;
    }
  }
}
