
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import "colors";
@import "navbar";
@import "info_panel";

body {
  background-color: $white;
}

footer {
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    text-align: center;
  }
}
