<div id="attractive-info" class="container">
  <p>Are you attractive? Sexy? Fun to be around? Really desperate for some $$$?</p>
  <p>If you answered yes to all of those questions, then being an Aviato Companion
    could just be the job for you!</p>
  <p>It's simple. All you have to do is create a profile with your name, a
    sexy photo of yourself (hint hint, nudge nudge), and a list of things about
    yourself that some poor sad looser would find interesting. Then, you just sit back
    and wait until someone poor desperate soul wants to go on a trip with you.</p>
  <p>When you're selected, you'll receieve an email from us showing the desperate person who
    wants to spend time with you, the place they want to go, and how much $$$ they're
    willing to pay you to put up with all of their bullshit. You can either choose
    to accept the trip, or if that sad son of a bitch seems too horrible, you can
    deny them.</p>
  <p>So whatta you say? You ready to spend some time with some horrible people?</p>
  <button class="btn">Get Started</button>
</div>
