<div class="container">
  <p>Wanna travel somewhere cool, but you're a sad looser who has no love and no friends?
    You might think that you're destined to be a loner forever, traveling the
    world in an everlasting sad sad solitude. But luckily for you, if you happen
    to have a fuck-ton of money, you no longer have to travel alone!</p>
  <p>Introducing Aviato, the new traveling app for loosers like you. It's fast, fun, easy to use,
    and is gaurenteed to run your bank accounts dry.</p>
  <p>You can be traveling to some exotic paridice in no time at all using these 4 easy steps</p>
  <ol>
    <li>Choose a location</li>
    <li>Choose a date/time</li>
    <li>Choose a hot, sexy companion who's getting paid to acompany you</li>
    <li>Bribe them with money/drugs/stuff so they're willing to spend time with you</li>
  </ol>
  <p>So whatta you say? Are you ready to end your lonliness today?</p>
  <button class="btn">Get Started</button>
</div>
