<div id="info-panel" class="container">
  <p>Welcome to Aviato! Please Select Your Status:</p>
  <ul class="nav nav-tabs">
    <li><a class="desperate" href="#desperate" aria-controls="desperate" role="tab" data-toggle="tab">I Am Desperate</a></li>
    <li><a class="attractive" href="#attractive" aria-controls="attractive" role="tab" data-toggle="tab">I Am Attractive</a></li>
  </ul>
  <div class="tab-content">
    <div id="desperate" class="tab-pane">
      <div th:replace="info-loosers"></div>
    </div>
    <div id="attractive" class="tab-pane">
      <div th:replace="info-sexy-ppl"></div>
    </div>
  </div>
</div>
