@import "https://fonts.googleapis.com/css?family=Raleway|Cabin";
#main_navbar {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  box-shadow: 0 0 5px 10px #6097FD;
  border-radius: 0;
  border: 0;
  background-color: #6097FD;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../IMAGES/aviato-logo.png");
  height: 300px;
  width: 100%; }
  #main_navbar a {
    color: inherit;
    text-decoration: none;
    outline: none; }
  #main_navbar ul {
    position: absolute;
    bottom: 30px;
    right: 20px; }
    #main_navbar ul li {
      display: inline;
      width: 300px;
      list-style: none;
      padding: 25px;
      margin: 0 10px;
      background-color: #364156;
      border: 1px solid #000;
      border-radius: 5px;
      color: #9fc1ff;
      font-size: 26px; }
      #main_navbar ul li:hover {
        opacity: 0.7;
        cursor: pointer; }
  @media only screen and (min-width: 1000px) {
    #main_navbar {
      background-image: url("../IMAGES/aviato-logo.png");
      height: 400px; } }

#info-panel {
  margin-top: 40px;
  font-size: 34px; }
  #info-panel a {
    font-size: 24px; }
  #info-panel .tab-content {
    font-size: 16px; }
  #info-panel ul.nav.nav-tabs {
    border: 0; }
  #info-panel ul li {
    margin: 0 10px; }
    #info-panel ul li:hover > a, #info-panel ul li.active > a {
      opacity: 0.7; }
    #info-panel ul li#attractive > a {
      background-color: #b90b0b;
      color: #dfe4ec; }
    #info-panel ul li#desperate > a {
      background-color: #86642f;
      color: #dfe4ec; }
    #info-panel ul li a {
      outline: none;
      padding: 15px;
      border: 1px solid #000;
      border-radius: 5px; }
  #info-panel div#desperate-info, #info-panel div#attractive-info {
    margin: 20px;
    font-size: 20px; }
    #info-panel div#desperate-info button.btn, #info-panel div#attractive-info button.btn {
      width: 50%;
      margin: auto;
      font-size: 20px;
      background-color: #6097FD;
      color: #364156;
      background-image: none;
      border: #000; }

div#about figure {
  margin: 10px 0; }
  div#about figure img.employee {
    border-radius: 5px; }
  div#about figure figcaption {
    font-size: 24px;
    font-family: 'Cabin';
    text-align: center;
    width: 300px;
    background-color: rgba(255, 255, 200, 0.6); }
div#about div#licence-agreement {
  background-color: rgba(255, 255, 200, 0.9);
  border: 1px solid #000; }
  div#about div#licence-agreement:hover {
    background-color: rgba(255, 255, 200, 0.6); }
  div#about div#licence-agreement p {
    margin: 20px 0; }
  div#about div#licence-agreement h3 {
    text-align: center; }

div#book-session {
  background-color: rgba(255, 255, 200, 0.7);
  border-radius: 10px;
  border: 1px solid #AAA;
  box-shadow: 0 0 10px 10px #AAA; }
  div#book-session li.next a, div#book-session li.previous a {
    background-color: #364156;
    font-size: 20px;
    color: #9fc1ff;
    font-family: 'Cabin'; }
  div#book-session li.next.disabled > a, div#book-session li.previous.disabled > a {
    opacity: 0.7; }

html {
  position: relative;
  min-height: 100%;
  font-family: 'Raleway', sans-serif; }
  html body {
    background-color: #dfe4ec;
    margin-bottom: 100px; }
    html body h1 {
      font-size: 40px;
      font-family: 'Cabin';
      text-align: center; }
    html body h2 {
      margin-bottom: 15px; }
    html body h3 {
      font-size: 28px;
      font-family: 'Cabin'; }
    html body p {
      font-size: 20px;
      margin: 5px 0; }
    html body div.input-group-addon {
      font-size: 20px;
      font-family: 'Raleway'; }
    html body button.btn.btn-primary {
      background-color: #364156;
      background-image: none;
      color: #9fc1ff;
      outline: none;
      border: 1px solid #000;
      font-size: 26px;
      font-family: 'Cabin'; }
      html body button.btn.btn-primary:hover {
        opacity: 0.7; }
  html footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 60px;
    width: 100%;
    height: 60px; }
    html footer p {
      text-align: center; }

/*# sourceMappingURL=main.css.map */
